h1 {
    font-family: Noto sans;
    background-color: #263242;
    padding: 30px;
    text-align: center;
    font-size: 64px;
    color: white;
    margin: 0%;
}

body { 
    text-align: center;
    font-family: Noto sans;
    background-color: white;
}

section{
  display: -webkit-flex;
  display: flex;
}
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }

  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  nav ul {
    list-style-type:none;
    padding: 0;
    
    
  }

  article {
    -webkit-flex: 7;
    -ms-flex: 7;
    flex: 7;
    padding: 20px;
    
    background-color: #f1f1f1;
   
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }
  button{
    font-size: 24px;
    font-weight:bold;
    width: 100%;
    background-color: #cb9a2d;
    color: #263242;
    border-radius: 50px;
  }

  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  